.html-cb-global {
    background-color: #000;
    font-size: 20px;
    color: #FFF;
}

.html-cb-type {
    color: #3C79D1;
}

.html-cb-keyword {
    color: #C586C0;
}

.html-cb-variable {
    color: #9CDCFE;
}

.html-cb-function {
    color: #DCDCAA;
}

.html-cb-number {
    color: #B5CEA8;
}

.html-cb-comment {
    color: #41a70a;
}

.html-cb-class {
    color: #4ec9b0;
}

.html-cb-string {
    color: #Ce9178;
}