.wcb-global {
    background-color: #000;
    font-size: 20px;
    color: #FFF;
}

.wcb-js-type {
    color: #3C79D1;
}

.wcb-js-keyword {
    color: #C586C0;
}

.wcb-js-variable {
    color: #9CDCFE;
}

.wcb-js-function {
    color: #DCDCAA;
}

.wcb-js-number {
    color: #B5CEA8;
}

.wcb-js-comment {
    color: #41a70a;
}

.wcb-js-class {
    color: #4ec9b0;
}

.wcb-js-string {
    color: #Ce9178;
}