.fhl-global {
    background-color: #000;
    color: #FFF;
    line-height: 1.2;
    font-size: 16px;
    padding-left: 5px;
    overflow-x: auto;
    margin: 0px;
}

.fhl-code-container {
    margin-top: .5em;
    margin-bottom: .5em;
}

.fhl-file-name {
    display: block;
    background-color: #000;
    color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: .5em;
    padding-top: .5em;
}

.fhl-code {
    counter-reset: line-number;
}

.fhl-code-line {
    display: inline-block;
    width: 100%;
}

.fhl-code-line:before {
    display: inline-block;
    counter-increment: line-number;
    content: counter(line-number);
    color: #FFF;
    opacity: 50%;
    padding-right: .5em;
    margin-right: .5em;
    width: 1.7em;
    text-align: right;
    border-right: solid 2px #FFF;
}

.fhl-code-line:hover {
    background-color: #e984e11e;
    opacity: 100%;
}

.fhl-type {
    color: #3C79D1;
}

.fhl-keyword {
    color: #C586C0;
}

.fhl-variable {
    color: #9CDCFE;
}

.fhl-function {
    color: #DCDCAA;
}

.fhl-operator {
    color: #FFFFFF;
}

.fhl-number {
    color: #B5CEA8;
}

.fhl-comment {
    color: #41A70A;
}

.fhl-class {
    color: #4EC9B0;
}

.fhl-string {
    color: #CE9178;
}